<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="" method="post">{% csrf_token %}
    <h1>Formulário de Registro</h1>
        <div>
            <input type="text" name="nome" placeholder="seu nome">
        </div>
        <div>
            <input type="email" name="email" placeholder="seu email">
        </div>
        <div>
            <input type="text" name="orientador" placeholder="nome do orientador">
        </div>
        <div>
            <input type="email" name="email_orientador" placeholder="email do orientador">
        </div>
        <div>
            <input type="text" name="username" placeholder="username">
        </div>
        <div>
            <input type="password" name="password1" placeholder="senha">

        </div>
        <div>
            <input type="password" name="password2" placeholder="digite a senha novamente">
        </div>






    <input type="submit">

    </form>
</body>
</html>